[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=3DSP WiFi Radar
GenericName=Wireless tool
Comment=Tool for connecting to wireless networks
Comment[zh_CN]=无线连接管理工具
Icon=wifi-radar.svg
Exec=gksudo -S 3dsp-wifi-radar
Terminal=false
Categories=Utility;
